
opentofu/failed/.terraform*
opentofu/failed/terraform.tfstate*
opentofu/failed/*tfvars

opentofu/failed/*.out

terraform/CreateVM/.terraform*
terraform/CreateVM/terraform.tfstate*
terraform/CreateVM/*tfvars

terraform/CreateVM/*.out
