
opentofu/.terraform*
opentofu/terraform.tfstate*
opentofu/*tfvars

opentofu/*.out
terraform/CreateVM/.terraform*
terraform/CreateVM/terraform.tfstate*
terraform/CreateVM/*tfvars

terraform/CreateVM/*.out
